.vs/
**/x64/
**/x86/
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/

*.user
*.suo
*.userosscache
*.sln.docstates

*.obj
*.ilk
*.pdb
*.dx
*.pch
*.idb
*.tlog
*.lastbuildstate
*.VC.db
*.VC.VC.opendb

resources/lib/assimp-vc140-mt.dll
resources/lib/assimp-vc140-mt.lib
